<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Inicio de Sesión</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,900;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
<section class="bg-light rounded-5 p-4 flex flex-column">
  <h2>Iniciar Sesión</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="padding: 20px 40px;display: flex; flex-direction: column; text-align: center;align-content: center">
    <label for="correo">Correo</label>
    <input type="text" id="correo" formControlName="correo">

    <label for="contrasenia">Contraseña</label>
    <input type="password" id="contrasenia" formControlName="contrasenia">

    <button type="submit">Entrar</button>
    <p>¿No tienes cuenta? <a [routerLink]="['../registrarse']">Regístrate</a></p>
  </form>
  </section>


<a  [routerLink]="['../principal']" id="volver">

</a>

</body>
</html>
